*.hprof
*.iml
*.xccheckout
*.xcscmblueprint
.DS_Store
.classpath
.gradle/
.idea/
.project
.rubygems/
.settings
.vscode/
360iDev2018_ViewAndAnimations/
Carthage/
Pods/
bin/
build/
gradlew.bat
xcuserdata
